:root {
    --elem-bg-color: #d9dfe0;
    --btn-bg-color: #e2ffff;
    --sidebar-width: 20vw;
    --sidebar-bg-color: rgba(27, 31, 35, 0.24);
    --header-bg-color: rgba(27, 31, 35, 0.6);
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: stretch;
}

#desktop-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    z-index: 2;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar {
    width: var(--sidebar-width);
}

#left-sidebar {
    background-color: var(--sidebar-bg-color);
}

#right-sidebar {
    right: 0;
    margin-left: auto;
}

#sidebar-image {
    width: 90%;
    display: block;
}

#sidebar-image img {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#sidebar-writeup {
    padding: 10px;
    color: aliceblue;
}

#header-content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    z-index: 2;
}

#header-bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 10vh!important;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--header-bg-color), rgba(0, 0, 0, 0));
    z-index: -1;
}

#header-bg .border-bottom {
    height: 100%;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: absolute;
    height: 100%;
    margin: 0 auto 0 auto!important;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-inner-container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    align-content: center;
    margin: auto 20vw auto 20vw;
}

.header-box {
    flex: auto;
    display: flex;
    justify-content: center;
}

.button-list-item {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.button {
    color: black;
    display: flex;
    align-items: center;
    background-color: var(--btn-bg-color);
    margin: auto;
    width: 12vw;
    max-width: 12rem;
    height: 3vw;
    max-height: 5rem;
    padding: 1px 0 3px 0!important;
    border-radius: 3px;
}

.button-content {
    display: table;
    position: relative;
    margin: auto;
    text-align: center;
    height: 100%;
}

.button-content img {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    transform: translate(0, 0.2vw);
    height: 2.5vw;
    max-height: 60%;
    width: 2.5vw;
    margin-right: 1vw;
    object-fit:scale-down;
}

.button-content b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    margin: auto auto auto 1vw;
    height: 100%;
    font-size: clamp(7px, 2vw, 28px);
}

#footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.overlap {
    position: absolute;
}

.absolute-center {
    margin: auto;
    position: absolute;
    left: 0; right: 0;
}

#projects-container {
    position: relative;
    padding: 0;
    width: 50vw;
    min-width: 5rem;
    margin: auto auto 4rem auto;
    z-index: 0;
}

.project-card {
    text-align: left;
    margin: 1.5rem auto;
    width: 40rem;
    background: var(--elem-bg-color);
    border-radius: 50px 15px;
    padding: 25px 40px 1.5rem 1.5rem!important;
}

.project-card img {
    width: 20vw;
    max-width: 150px;
    max-height: 150px;
    height: 20vw;
    border-radius: 20vw;
}

#resume {
    margin-top: 2rem;
    position: relative;
    z-index: 0;
}

#mobile-480px {
    display: none;
}

@media screen and (min-width: 481px) {
    #header-content {
        top: 0;
    }
}

@media screen and (max-width : 480px) {
    #mobile-480px {
        display: block;
    }
    #desktop {
        display: none;
    }

    #header-content {
        position: fixed;
        height: 4rem!important;
        bottom: 0;
    }

    .border-bottom {
        display: none;
    }

    #header-bg {
        height: 100%;
    }

    #header-image img {
        margin: 1rem;
        width: 15%;
        height: auto;
        border-radius: 5rem;
    }

    .header-inner-container {
        display: table;
        align-content: center;
        height: 100%;
        margin: auto 0 auto 0;
        padding: 0!important;
    }

    #header-links {
        flex: auto;
        display: table-cell;
        vertical-align: middle;
        justify-content: center;
        width: 100%;
        height: 3rem;
    }

    .button-list-item {
        margin: 0.1rem 0.5rem 0.1rem 0.5rem;
        height: 100%;
    }

    .button {
        height: 2rem;
        width: 25vw;
    }

    .button-content {
    }

    .button-content img {
        transform: translate(0, 0.3rem);
        height: 5vw;
        width: auto;
    }

    .button-content b {
        font-size: clamp(7px, 3vw, 28px);
    }

    #projects-container {
        width: 100vw;
        min-width: 5rem;
        margin: auto;
    }

    #resume iframe {
        position: relative;
        width: 95vw;
        height: 85vh;
    }

}