---
layout: default
permalink: /
redirect_from:
    - /projects
home: true
---

<div id="projects-container" class="container align-center">
    {% for project in site.data.projects %}

    <div class="project-card container">
        {% if project.img %}
        <div class="inline"><img src="{{ project.img }}"/> <h1>{{project.project_name}}</h1></div>
        {% else %}
        <h1>{{project.project_name}}</h1>
        {% endif %}

        <p>{{ project.description }}</p>
        <!-- TODO add list of languages/tools to each project, italicized, grey -->

        {% if project.link %}
        <a href="{{ project.link }}">
            <button type="button" class="btn btn-primary">{{ project.link-name }}</button>
        </a>
        {% endif %}
    </div>

    {% endfor %}
</div>
