<nav id="header-content" class="sticky">
    <header id="header-bg"></header>
    <header id="header" class="flex-wrap align-items-center justify-content-center py-3 mb-4">
        <div class="header-inner-container border-bottom">
            <div id="header-links" class="box header-box">
                <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link link-secondary"><b>Projects</b></a></li>
                    <!--<li><a href="projects.html" class="nav-link px-2 link-dark" style="color: aliceblue"><b>Projects</b></a></li>-->
                    <li><a href="https://github.com/stevenlaczko" class="nav-link link-dark"><b>GitHub</b></a>
                    </li>
                    <li><a href="../resume.html" class="nav-link link-dark"><b>Resume</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</nav>