<nav id="header-content">
    <header id="header-bg" >
        <div class="border-bottom"></div>
    </header>
    <header id="header" class="flex-wrap align-items-center justify-content-center mb-4">
        <div class="header-inner-container container">
            <div id="header-links" class="box header-box">
                <ul id="button-list" class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="button-list-item"><a href="/" role="link" class="nav-link button">
                        <div class="button-content">
                            <img src="../media/PinClipart.com_computer-monitor-clipart_153076.png" alt="Coding Icon Clipart Computer Icons Computer Programming - Coding Icon Free Png Transparent Png@pinclipart.com">
                            <b>Projects</b>
                        </div>
                    </a></li>
                    <!--<li><a href="projects.html" class="nav-link px-2 link-dark" style="color: aliceblue"><b>Projects</b></a></li>-->
                    <li class="button-list-item"><a href="https://github.com/stevenlaczko" class="nav-link button">
                        <div class="button-content">
                            <img src="../media/GitHub-Mark-120px-plus.png">
                            <b>GitHub</b>
                        </div>
                    </a>
                    </li>
                    <li class="button-list-item"><a href="../resume.html" class="nav-link button">
                        <div class="button-content">
                            <img src="../media/cleanpng-document-template-requirements-icon.png">
                            <b>Resume</b>
                        </div>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</nav>