<div id="left-sidebar" class="sidebar">
    <div id="sidebar-image">
        <img src="../media/me_nice_cropped.jpg"/>
    </div>
    <div id="sidebar-writeup">
        <p>
            I am Steven Laczko. I am a software developer, but I prefer the term programmer. <br>
            I have experience with Python, C++, ReactJS, and am always learning new tools to create faster. <br>
            More information can be found on the <a style="color: lightseagreen" href="/resume">resume</a> page.
        </p>
        <div id="contact-box">CONTACT INFO</div>
        <div>
            410-424-5367 <br>
            stevendlaczko@gmail.com
        </div>
    </div>
</div>
