<div id="sidebar">
    <div id="sidebar-image" class="container">
        <img src="../media/me_nice_cropped.jpg"/>
    </div>
    <div id="sidebar-writeup">
        <p>
            Hi! My name is Steven Laczko. I am a software developer currently studying at UMBC. I have a passion for
            making ideas a reality (like this website)!
        </p>
        <p> You can contact me here: </p>
        <p>
            Email: <br>
            StevenDLaczko@gmail.com or <br>
            SLaczko1@umbc.edu
        </p>
        <p> Phone: <br>
            410-424-5367
        </p>
    </div>
</div>
